#define WIFI_SSID "wifi_ssid";
#define WIFI_PASSWORD "wifi_password";

#define MQTT_HOST IPAddress(192, 168, 0, 1)
#define MQTT_PORT 1883
#define MQTT_USER "mqtt_user";
#define MQTT_PASSWORD "mqtt_password";
